:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Tema Claro (Padrão de Farmácia) */
  color-scheme: light;
  color: #213547;
  background-color: #f8f9fa; /* Cinza bem clarinho */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset Básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #28a745; /* Verde Farmácia */
  text-decoration: inherit;
  transition: 0.3s;
}

a:hover {
  color: #1e7e34;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* REMOVI O DISPLAY FLEX DAQUI PARA O HEADER FICAR NO TOPO */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #28a745; /* Botão Verde */
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}